:root {
  --red: #F53855;
  --color-sub-title: #4F5665;
  --color-title: #0B132A;
  --bg-footer: #F8F8F8;
  --white: #fff;
  --bg-statistics: #EEEFF2;
  --color-border-card: #DDD;
  --color-card-active: #F53838;
  --bg-color-passive-circle: #DDE0E4;
  --color-shodow-subscribe: rgb(13, 16, 37, 0.06);
  --color-patent: rgb(175, 181, 192);
} 