@font-face {
  font-family: Rubik;
  src: url("../font/Rubik-Regular.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: Rubik-Bold;
  src: url("../font/Rubik-Bold.ttf") format("truetype");
  font-style: bold; 
  font-weight: 800; 
}