header {
  margin: 45px 0 0 0;
}

.header-logo {
  cursor: pointer;
}

.header-logo__text {
  margin: 0 0 0 10px;
}

.header-menu {
  flex-basis: 40%;
}

.header-menu__item {
  color: var(--color-sub-title);
  font-size: 16px;
}

.header-auth {
  flex-basis: 17%;
}

.header-auth__signin {
  cursor: pointer;
  background: var(--white);
  border: 0;
  font-size: 16px;
  color: var(--color-title);
  font-family: Rubik-Bold;
}

.header-auth__signup {
  cursor: pointer;
  background: var(--white);
  font-size: 16px;
  color: var(--red);
  font-family: Rubik-Bold;
  border: solid 1px var(--red);
  border-radius: 50px;
  padding: 12px 45px;
}