@import "./_color.scss";
@import "./_atomic.scss";
@import "./_fonts";
@import "./_header.scss";
@import "./_about.scss";
@import "./statistics.scss";
@import "./features.scss";
@import "./plan.scss";
@import "./_who-use.scss";
@import "./_reviewUser.scss";

.container {
  margin: 0 150px;
}

* {
  padding: 0;
  margin: 0;
  font-family: Rubik;
}

.subtitle {
  color: var(--color-sub-title);
}

.title {
  color: var(--color-title);
}

.text-bold {
  font-family: Rubik-Bold;
}